body {
  font-family: Jaldi, helvetica, san-serif;
  background-image: url("https://res.cloudinary.com/jkeohan/image/upload/v1465860054/GAbg_faded_aatkni.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
  background-color: #F1F1F1;
  line-height: 1.25;
  font-size: 20px;
}

div.logo {
  max-width: 800px;
  margin: auto;
  padding-top: 10px;
}

img {
  width:100px;
  height:100px;
}

h1 {
  max-width: 800px;
  margin: auto;
  padding-top: 5px;
  font-family: 'Jaldi', helvetica, san-serif;
    text-align: left;
    line-height: 48px;
    font-size: 48px;
 }

h4 {
  max-width: 800px;
  margin: auto;
  color: red;
  padding: 5% 0% 0% 0%;
}

.intro{
  max-width: 800px;
  margin: auto;
  padding: 3% 0%;
}

div.locations{
    max-width: 550px;
    margin: auto;
    padding: px;
    line-height: 1.5;
    font-weight: bold; 
 }

ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}

li{
  display: inline;
  padding: 15px;
}

hr{
  max-width: 800px;
  margin: auto;
  border-top:1px dotted #CCCCCC;
}

div.moreinfo {
  max-width: 800px;
  margin: auto;
  font-size: 16px;
  text-align: center;
}

.bolder {
  font-weight: bold;
}